:root {
  --darkblue: #1c1e53;
  --gloss: #f4f6fc;
}
@media (max-width: 800px) {
  .aboutus-flex-1,
  .aboutus-flex-2,
  .mission-container,
  .vision-container,
  .benefits-sub {
    text-align: center !important;
    display: block !important;
    width: 100% !important;
    margin: auto !important;
  }
}

@media (max-width: 800px) {
  .mission-flex-1,
  .mission-flex-2,
  .vision-flex-1,
  .vision-flex-2,
  .card1,
  .card2,
  .card3 {
    text-align: center !important;
    margin: auto !important;
  }
}

@media (max-width: 800px) {
  .aboutus-flex-1,
  .mission-container,
  .vision-container {
    padding-left: 0 !important;
  }
}

/* NavBar */
.navbar {
  background-color: var(--darkblue);
  padding-right: 12%;
}

.nav-link {
  color: #faf9f6 !important;
  padding: 5px;
  margin-left: 5px;
  margin-right: 15px;
}

.navbar-brand {
  color: white !important;
  letter-spacing: 0.75px;
  font-family: "Dancing Script", cursive;
  font-size: 2.25rem !important;
  padding-left: 6%;
}

.nav-btn {
  background-color: var(--darkblue);
  border-radius: 40px;
  text-align: center;
  border: solid 1px white;
}

.navbar-toggler {
  border-color: white !important; /* For Border color of hamburger*/
}

/* About Us */
.aboutus-container {
  display: flex;
  padding-top: 3rem;
  padding-left: 2rem;
}

@media (max-width: 800px) {
  .aboutus-container {
    display: block;
  }
}

.aboutus-flex-1 {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-top: 5rem;
  padding-left: 3rem;
}

.aboutus-flex-2 {
  display: flex;
  margin-left: 6rem;
  width: 50%;
}

.aboutus-image {
  max-width: 85%;
}

/* Mission section */
.mission-container,
.vision-container {
  display: flex;
  background-color: var(--gloss);
  padding-left: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.mission-container {
  margin-top: 5rem;
}

@media (max-width: 800px) {
  .mission-container,
  .vision-container {
    display: block;
  }
}
.mission-flex-1 {
  flex-direction: column;
  width: 50%;
  padding-top: 2rem;
}

.mission-flex-2 {
  margin-left: 5rem;
}
.mission-img {
  width: 70%;
}

.vision-flex-2 {
  width: 50%;
  margin-left: 5rem;
  padding-top: 4rem;
}

/* Benefits Section */
#benefits {
  margin-top: 3rem;
  margin-bottom: 7%;
}

.benefits-head {
  text-align: center;
}

.benefits-sub {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 0px;
  padding-top: 3rem;
}

.card1 {
  grid-area: 3 / 2 / 4 / 3;
  padding-bottom: 2rem;
}
.card2 {
  grid-area: 3 / 3 / 4 / 4;
  padding-bottom: 2rem;
}
.card3 {
  grid-area: 3 / 4 / 4 / 5;
  padding-bottom: 2rem;
}

.card-body {
  background-color: var(--gloss);
  padding: 10% !important;
}

.card-title {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

/* Team Section */
#team {
  background-color: var(--gloss);
  padding-top: 5%;
  text-align: center;
  padding-bottom: 7%;
}

.team-heading {
  padding-bottom: 5%;
}
.team-container {
}

.team-card1,
.team-card2,
.team-card3,
.team-card4 {
  display: inline-block;
  padding-left: 1.5rem;
}

.card-img-top {
  background-color: white;
}

#team .card-body {
  background-color: white;
}

/* Footer */

#footer {
  background-color: var(--darkblue);
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
}

.footer-float1 {
  float: left;
  width: 50%;
  padding-bottom: 5%;
  margin-left: 7%;
  margin-bottom: 30px;
}

.fab {
  padding-right: 1.5rem;
}

.footer-title {
  letter-spacing: 0.75px;
  font-family: "Dancing Script", cursive;
  font-size: 2.25rem !important;
}
